<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="remote-song-repository" value="https://public-api.wordpress.com/rest/v1.1/sites/lekaraoke.ca/"/>
    <add key="local-song-repository" value="song.repository.json"/>
    <add key="fields" value ="ID,title,tags,categories"/>
         
  </appSettings>
</configuration>